.row {
	&.list-wrapper {
		margin: 0;
		padding: 0 $space-narrow;
		border-radius: 5px;
		background-color: $white;
	}
	&.list-item {
		padding: $space-narrow;
		list-style: none;
		border-bottom: 1px solid $lightgray;
		display: block;	
	}
}

.list-item__image.col-md-3 {
	padding: 0;
	width: 180px;
	height: 180px;
    border-radius: 4px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.list-item__details {
	padding-left: $space-narrow;	

	.list-item__details__location {
		font-size: 12px;
		color: $gray;
	}

	.list-item__details__price {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: $space-broad;
	}

	.list-item__details__description {
		color: $darkgray;	
	}	
}

