.product-detail__type {
	font-size: 14px;
	margin-bottom: $space-narrow;
}

.row.product-wrapper {
	margin: 0;
	padding: $space-broad;
	padding-bottom: 0;
	background-color: $white;
}	

.product-image {
	width: 680px;
}

.search-filter {
	padding: 16px 0;
	color: $gray;
}

.product-detail__price {
	margin-top: $space-broad;
	font-size: 46px;
}

.product-detail__title {
	font-size: 24px;
}

.product-detail__buy-button {
	margin-top: $space-broad;
	border: none;
	background-color: $blue;
	color: $white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

div.product-description {
	margin-top: 64px;
}

.product-description__title {
	font-size: 28px;
	color: $gray;
}

.product-description__body {
	padding: $space-narrow 0;
	color: $gray;
	text-align: justify;

	&.col-md-9 {
		padding-right: 0;
		padding-left: 0;
	}	
}