@mixin no-spaces() {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: $lightgray !important;
}

body, p {
	@include no-spaces();
	color: $darkgray;
}

div.col-md-1,
div.col-md-2,
div.col-md-3,
div.col-md-4,
div.col-md-5,
div.col-md-6,
div.col-md-7,
div.col-md-8,
img.col-md-8,
div.col-md-9,
div.col-md-10,
div.col-md-11,
div.col-md-12 {
	@include no-spaces();
}