.searchbox {
	background-color: #FFE600;
	width: 100%;
	text-align: center;
	height: 50px;	

	.input-group.searchbox__fieldset .searchbox__input.form-control {
		max-width: 800px;
		min-width: 100px;
		float: right;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
}

.searchbox__fieldset.input-group {
	top: 8px;
	width: 70%;
    margin: 0 auto;
}

.searchbox-logo {
	position: absolute;
	z-index: 9999;
	left: 15%;
	top: 8px;
}

.searchbox__button {
	border: none;
	border-radius: 4px;
	float: right;
	background-color: #EEE;

	img {
		color: #999;
	}
} 