@import 'variables';

.main-wrapper {
	background-color: $lightgray;
	width: 100%;
	min-height: 100%;
}

.content-wrapper {
	width: 75%;
	margin: 0 auto;
}	

.link:hover {
	cursor: pointer;
}

@import 'reset';
@import 'searchbar';
@import 'product-detail';
@import 'list';



