@import 'variables';

.main-wrapper {
	background-color: $lightgray;
	width: 100%;
	min-height: 100%;
}

.content-wrapper {
	width: 70%;
	margin: 0 auto;
}	

@import 'reset';
@import 'searchbox';
@import 'product-detail';
@import 'list';



