<div class="main-wrapper">
	<section class="content-wrapper search-results">
		<section class="search-filter">
			Inicio > "{{lastSearch}}"
		</section>

		<ul class="row list-wrapper">
			<li ng-repeat="item in itemsList"
				class="row list-item">

				<img class="col-md-3 list-item__image" ng-src="{{item.thumbnail}}">

				<div class="col-md-7 list-item__details">
					<div class="list-item__details__price"> 
						${{item.price | number: 0}}
						
						<img ng-src="assets/ic_shipping.png" 
							ng-if="item.shipping.free_shipping">
					</div>
					<div 
						ui-sref="ItemDetail({ id: item.id })"
						class="list-item__details__description">
						{{item.title}}
					</div>
				</div>

				<div class="col-md-2 list-item__details__location">
					{{item.address.state_name}}
				</div>
			</li>													
		</ul>
	</section>
</div>
