<!DOCTYPE html>
<html>
<head>
	<title>Buscar Producto</title>

	<link rel="stylesheet" href="styles.css" />
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="MercadoLibreApp">

	<nav class="searchbox" ng-controller="SearchCtrl">
		<img class="searchbox-logo" src="assets/Logo_ML.png">
		<div class="row searchbox__fieldset input-group">
			
			<input class="form-control searchbox__input" 
				type="text" 
				ng-model="searchQuery"
				placeholder="Nunca dejes de buscar">

			<span class="input-group-btn">
				<button 
					ng-click="searchItem()"
					class="btn searchbox__button" 
					type="button">
					<img src="assets/ic_Search.png">
				</button>
	   		</span>
		</div>
	</nav>

	<ui-view></ui-view>

	<script type="text/javascript" src="components/angular/angular.min.js"></script>
	<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>	
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="modules/Item/item.ctrl.js"></script>
	<script type="text/javascript" src="modules/Item/item.svc.js"></script>	
	<script type="text/javascript" src="modules/Search/search.ctrl.js"></script>
	<script type="text/javascript" src="modules/Search/search.svc.js"></script>

</body>
</html>